@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#ec7676, #f08686, #ebbbbb);
  font-family: "Lato", sans-serif;
  min-height: 100vh;
}

.btn {
  background: #b567a4;
  color: #fff;
}

.btn:hover {
  color: #e8e8e8;
}

h1 {
  text-align: center;
}

#jumbo {
  background: url("https://pbblogassets.s3.amazonaws.com/uploads/2018/10/22074923/pink-sky-cover.jpg?resize=865,505");
  background-position: center;
}

li.pointer {
  cursor: pointer;
}

li:hover {
  background-color: rgb(19, 3, 34) !important;
}

.history {
  margin: 5px 0;
}

p {
  font-size: 12px;
}

.uviGreen {
  background-color: #3ea72d;
  display: inline;
  border-radius: 4px;
  padding: 0 4px 0 4px;
  color: #fff;
}

.uviYellow {
  background-color: #292180;
  display: inline;
  border-radius: 4px;
  padding: 0 4px 0 4px;
  color: #fff;
}

.uviOrange {
  background-color: #f18b00;
  display: inline;
  border-radius: 4px;
  padding: 0 4px 0 4px;
  color: #fff;
}

.uviRed {
  background-color: #e53210;
  display: inline;
  border-radius: 4px;
  padding: 0 4px 0 4px;
  color: #fff;
}

.ultraviolet {
  background-color: #b567a4;
  display: inline;
  border-radius: 4px;
  padding: 0 4px 0 4px;
  color: #fff;
}

#queryContent {
  display: none;
}
